.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;

  pointer-events: none;
  z-index: 2;
}

.nav {
  pointer-events: all;
}

.nav,
.menu-overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  gap: 1em;
}

.nav-logo,
.menu-overlay-nav-logo {
  flex: 2;
}

.nav-items {
  flex: 1;
  display: flex;
}

.nav-menu-toggle-open,
.nav-cart-btn,
.menu-overlay-nav-toggle-close {
  flex: 1;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background-color: #FF8000;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform, clip-path;
  pointer-events: none;
  z-index: 2;
  display: flex;
  align-items: flex-start;
}

.menu-overlay-nav-logo a,
.menu-overlay-nav-toggle-close p {
  color: #fff;
}

.nav-logo a,
.menu-overlay-nav-logo a {
  font-weight: 700;
}

.nav-menu-toggle-open .revealer,
.nav-cart-btn .revealer,
.menu-overlay-nav-logo .revealer,
.menu-overlay-nav-toggle-close .revealer {
  cursor: pointer;
}

.menu-overlay a,
.menu-overlay p {
  color: #fff;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.menu-footer-col:nth-child(1) {
  flex: 2;
}

.menu-footer-col:nth-child(2) {
  flex: 1;
}

.socials {
  display: flex;
  gap: 1em;
}

.menu-overlay-items {
  padding: 25vh 2em 1em 1em;
  flex: 1;
  overflow: hidden;
}

.menu-overlay-items a {
  /* font-size: 3rem; */
}

.menu-images {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  padding: 6em 1.5em 1em 1.5em;
  overflow-y: auto;
}

.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 1;
  transform: translateY(100%);
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media (max-width: 900px) {
  .nav-cart-btn {
    display: flex;
    justify-content: flex-end;
  }

  /* sdjust layout for smaller screens */
  .menu-images {
    width: 50%;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {

  /* stack images below menu items on mobile */
  .menu-overlay {
    flex-direction: column;
  }

  .menu-images {
    position: static;
    width: 100%;
    height: auto;
    padding: 1.5em;
    grid-template-columns: repeat(2, 1fr);
  }
}